﻿@model Project3Unity.Review

@{
    ViewBag.Title = "Writing a Review";
}

@section AddCSS {
    <link href="~/Content/styles.less" rel="stylesheet" type="text/css" />
}

@section Sidebar {
    @Html.Partial("_Sidebar")
}

<h2>Write a Review</h2>
<div class="row" style="padding-top: 30px">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Review
            </div>
            <div class="panel-body" style="padding-left: 15px; padding-top: 15px">
                <div class="col-lg-6">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group" style="padding-top: 15px">
                            @Html.LabelFor(model => model.revRating, new { @class = "control-label col-md-3" })

                            <span class="star-rating">
                                <input id="revRating1" class="form-control" name="revRating" type="radio" value="1" /><i></i>
                                <input id="revRating2" class="form-control" name="revRating" type="radio" value="2" /><i></i>
                                <input id="revRating3" class="form-control" name="revRating" type="radio" value="3" checked /><i></i>
                                <input id="revRating4" class="form-control" name="revRating" type="radio" value="4" /><i></i>
                                <input id="revRating5" class="form-control" name="revRating" type="radio" value="5" /><i></i>
                            </span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.revTitle, new { @class = "control-label col-md-3" })

                            @Html.TextBoxFor(model => model.revTitle, new { @class = "form-control", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.revTitle, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.revDesc, new { @class = "control-label col-md-3" })

                            @Html.TextAreaFor(model => model.revDesc, new { @class = "form-control", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.revDesc, "", new { @class = "text-danger" })
                        </div>

                        <input id="accEmail" name="accEmail" type="hidden" value="@User.Identity.Name" />

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input class="btn btn-success" type="submit" value="Submit" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
