﻿@model Project3Unity.Review

@{
    ViewBag.Title = "Deleting Review";
}

@section Sidebar {
    @Html.Partial("_Sidebar")
}

<center><h2>Deleting user review</h2></center>

<div class="col-lg-10" style="padding-top: 30px; padding-left: 15px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Are you sure you want to delete this?</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                @Html.HiddenFor(model => model.revID)

                <div class="form-group">

                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.revRating)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.revRating)
                        </div>
                    </div>

                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Account.accUsername)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.Account.accUsername)
                        </div>
                    </div>

                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.revTitle)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.revTitle)
                        </div>
                    </div>
                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.revDesc)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.revDesc)
                        </div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group" style="padding-top:15px">
                            <div class="col-md-offset-3 col-md-9">
                                <input class="btn btn-danger" type="submit" value="Delete" /> Or 
                                <label>@Html.ActionLink("Back to List", "Index")</label>
                                
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


