﻿@model Project3Unity.Review

@{
    ViewBag.Title = "Review Details";
}

@section Sidebar {
    @Html.Partial("_Sidebar")
}

<center><h2>Review details</h2></center>


<div class="col-lg-10" style="padding-top:30px;padding-left:15px">
    <div class="panel panel-default">
        <div class="panel-heading">
            Suggestion Detail
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                @Html.HiddenFor(m => m.revID)
                <div class="form-group">
                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.revRating)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.revRating)
                        </div>
                    </div>

                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Account.accUsername)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.Account.accUsername)
                        </div>
                    </div>

                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.revTitle)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.revTitle)
                        </div>
                    </div>

                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.revDesc)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.revDesc, new { @Class="pull-left" })
                        </div>
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>
                
