﻿@model PagedList.IPagedList<Project3Unity.Review>
@using PagedList.Mvc;

@{
    ViewBag.Title = "User Reviews";
}

@section AddCSS {
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
}

@section AddJS {
    <script src="~/Scripts/sorttable.js"></script>
}

@section Footer{
    @Html.Partial("_Footer")
}

<center><h2>User Reviews</h2></center>

<div style="padding-left: 13%">
    @Html.ActionLink("Write a review", "Create")
</div>

@section Sidebar {
    @Html.Partial("_Sidebar")
}
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Review reports
            </div>
            @using (Html.BeginForm(FormMethod.Get))
            {
                <div class="form-group" style="padding-top:15px">
                    <label class="col-sm-1 control-label">Search</label>
                    <div class="input-group col-sm-5" style="padding-left: 15px; padding-right: 15px;">
                        <input id="focusedInput" type="text" name="searchString" value="@ViewBag.searchString" class="form-control" />

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>

                    </div>
                </div>
            }
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover sortable">
                    <thead>
                        <tr>
                            <th> Rating </th>
                            <th> Username </th>
                            <th> Title </th>
                            <th> Message </th>
                            @if (ViewBag.UserRoles != null)
                            {
                                foreach (var role in ViewBag.UserRoles)
                                {
                                    if (role.Equals("Administrator"))
                                    {
                                        <th></th>
                                        break;
                                    }
                                }
                            }
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.revRating)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Account.accUsername)
                                </td>
                                <td>
                                    @Html.ActionLink(item.revTitle, "Details", new { id = item.revID })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.revDesc)
                                </td>
                                @if (ViewBag.UserRoles != null)
                                {
                                    foreach (var role in ViewBag.UserRoles)
                                    {
                                        if (role.Equals("Administrator"))
                                        {
                                            <td>
                                                @Html.ActionLink("Delete", "Delete", new { id = item.revID })
                                            </td>
                                            break;
                                        }
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), Project3Unity.CustomPagedListRenderOption.DefaultPaging)
    </div>
</div>

