﻿@model Project3Unity.HighScore

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>HighScore</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.scrID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.scrID)
            @Html.ValidationMessageFor(model => model.scrID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.accEmail, "Account")
        </div>
        <div class="editor-field">
            @Html.DropDownList("accEmail", String.Empty)
            @Html.ValidationMessageFor(model => model.accEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.srcHS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.srcHS)
            @Html.ValidationMessageFor(model => model.srcHS)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
