﻿@model PagedList.IPagedList<Project3Unity.Models.ScoreRank>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Leaderboard";
}

@section AddCSS {
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
}

@section AddJS {
    <script src="~/Scripts/sorttable.js"></script>
}

@section Footer{
    @Html.Partial("_Footer")
}

<div class="form-group" style="padding-top:5%">
    <center><h2>Leaderboard</h2></center>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Leaderboard
                </div>
                @using (Html.BeginForm(FormMethod.Get))
                {
                    <div class="form-group" style="padding-top:15px">
                        <label class="col-sm-1 control-label">Search</label>
                        <div class="input-group col-sm-5" style="padding-left: 15px; padding-right: 15px;">
                            <input id="focusedInput" type="text" name="searchString" value="@ViewBag.searchString" class="form-control" />

                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </span>

                        </div>
                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover sortable">
                        <thead>
                            <tr>
                                <th> Rank </th>
                                <th> Username </th>
                                <th> Score </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rank)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Score.Account.accUsername)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Score.srcHS)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.searchString }))
        </div>
    </div>
</div>