﻿@model Project3Unity.Account

@{
    ViewBag.Title = "Register";
}
<div class="form-group" style="padding-top:5%">
    <center><h2>Create a new account</h2></center>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Registration Form
                </div>
                <div class="panel-body" style="padding-left:15px;padding-top:15px">

                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.accEmail, new { @class = "control-label col-md-3" })

                                @Html.TextBoxFor(model => model.accEmail, new { @class = "form-control", @autofocus = "autofocus" })
                                @Html.ValidationMessageFor(model => model.accEmail, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.accUsername, new { @class = "control-label col-md-3" })

                                @Html.TextBoxFor(model => model.accUsername, new { @class = "form-control", @autofocus = "autofocus" })
                                @Html.ValidationMessageFor(model => model.accUsername, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.accPassword, new { @class = "control-label col-md-3" })

                                @Html.PasswordFor(model => model.accPassword, new { @class = "form-control", @autofocus = "autofocus" })
                                @Html.ValidationMessageFor(model => model.accPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-3">
                                    <label>Confirm Password</label>
                                </div>

                                <input id="confirm" name="confirm" type="password" class="form-control" />
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input class="btn btn-success" type="submit" value="Register" />
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
