﻿@model Project3Unity.Account

@{
    ViewBag.Title = "Details";
}

<center>
    <h2>Account Details</h2>
</center>

<div class="col-lg-10" style="padding-top:30px;padding-left:15px">
    <div class="panel panel-default">
        <div class="panel-heading">
            User Detail
        </div>
        <div class="panel-body">
            <div class="col-lg-6">

                <div class="form-group">

                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.accEmail)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.accEmail)
                        </div>
                    </div>
                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.accUsername)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.accUsername)
                        </div>
                    </div>
                    <div style="padding-top:15px">
                        @Html.ActionLink("Change password", "Edit")

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>