﻿@model Project3Unity.Account

@{
    ViewBag.Title = "Edit Account Details";
}

<center>
    <h2>Change password</h2>
</center>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Change Password Form
            </div>
            <div class="panel-body" style="padding-left:15px;padding-top:15px">

                <div class="col-lg-6">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="control-label col-md-3">
                                <label>Old Password</label>
                            </div>
                            <input id="oldPassword" name="oldPassword" type="password" class="form-control" />
                            @*@Html.Password("oldPassword")*@
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-3">
                                <label>New Password</label>
                            </div>

                            @Html.PasswordFor(model => model.accPassword, new { @class = "form-control", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.accPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-3">
                                <label>Confirm Password</label>
                            </div>
                            <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" />
                            @*@Html.Password("confirmPassword")*@
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input class="btn btn-success" type="submit" value="Change password" />
                            </div>
                        </div>
                        @*<p>
                                <input class="small radius button" type="submit" value="Change password" />
                            </p>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
