﻿@model Project3Unity.Account

@{
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Content/Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Content/Bootstrap/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Content/Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Content/Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Log in Form</h3>
                    </div>
                    <div class="panel-body">
                       
                        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                        {
                             @Html.AntiForgeryToken()
                             @Html.ValidationSummary(true)

                                <div class="form-group">
                                    @Html.LabelFor(m => m.accEmail)
                                
                                   
                                    
                                        @Html.TextBoxFor(m => m.accEmail, new { @class = "form-control", @autofocus = "autofocus" })
                                        
                                    
                                    @Html.ValidationMessageFor(m => m.accEmail)
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.accPassword)
                                
                                    @Html.PasswordFor(m => m.accPassword, new { @class="form-control"})
                                    @Html.ValidationMessageFor(m => m.accPassword)
                                </div>
                                @*<li>
                                        @Html.CheckBoxFor(m => m.Re)
                                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                                    </li>*@
                                <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                            <p>
                                @Html.ActionLink("Register", "Create") if you don't have an account.
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="/Content/Bootstrap/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Content/Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Content/Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Content/Bootstrap/dist/js/sb-admin-2.js"></script>
</body>
</html>


@*<section class="social" id="socialLoginForm">
        <h2>Use another service to log in.</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
