﻿@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div class="row wrapper" style="padding-top:53px">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2> About Us</h2>
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="form-group">
                        <h3>The Team</h3><br />
                        <div class="row">
                            <div class="col-md-8">
                                <b>Kevin Systrom</b> (CEO, co-founder)<br />

                                Kevin Systrom (@@kevin) is the CEO and co-founder of Instagram, a community of more than 300 million who capture and share the world's moments on the service. He is responsible for the company's overall vision and strategy as well as day-to-day operations.<br />

                                Since the beginning, Kevin has focused on simplicity and inspiring creativity through solving problems with thoughtful product design. As a result, Instagram has become the home for visual storytelling for everyone from celebrities, newsrooms and brands, to teens, musicians and anyone with a creative passion.<br />

                                Prior to founding Instagram, Kevin was part of the startup Odeo, which later became Twitter, and spent two years at Google working on products like Gmail and Google Reader. He graduated from Stanford University with a BS in Management Science & Engineering and serves on the boards of Walmart and KCRW.<br />
                            </div>
                            <div class="col-md-4">
                                <img class="img-responsive" src="/Images/original.jpg" height="2000" width="1000"/>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
