﻿@{
    ViewBag.Title = "Contact";
}

@*<hgroup class="title">

    <h2>@ViewBag.Message</h2>
</hgroup>*@

<div class="row wrapper" style="padding-top:53px">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>@ViewBag.Title.</h1>
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <div class="form-group">
                        <section>
                            <header>
                                <h3>Phone</h3>
                            </header>
                            <p>
                                <span class="glyphicon glyphicon-phone-alt"> Main: </span>
                                <span style="padding-left:45px">425.555.0100</span>
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-phone-alt"> After Hours: </span>
                                <span>425.555.0199</span>
                            </p>
                        </section>

                        <section class="contact">
                            <header>
                                <h3>Email</h3>
                            </header>
                            <p>
                                <span class="glyphicon glyphicon-envelope"> Support:</span>
                                <span style="padding-left:15px"><a href="mailto:Support@example.com">Support@example.com</a></span>
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-envelope"> Marketing:</span>
                                <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-envelope"> General:</span>
                                <span style="padding-left:15px"><a href="mailto:General@example.com">General@example.com</a></span>
                            </p>
                        </section>

                        <section class="contact">
                            <header>
                                <h3>Address</h3>
                            </header>
                            <p>
                                <span class="fa fa-building"></span>
                                &emsp;One Microsoft Way<br />
                                &emsp;&emsp;Redmond, WA 98052-6399
                                
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>