﻿@{
    ViewBag.Title = "Game";
}

@section Sidebar {
    @Html.Partial("_Sidebar")
}
@section Footer{
    @Html.Partial("_Footer")
}
<div class="form-group" style="padding-top:30px">
    <center><h2>Game</h2></center>
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Press the button bellow to download the game</h4>
                </div>
                <div class="form-group col-sm-2" style="padding-top:15px">
                    @using (Html.BeginForm())
                    {

                        <button class="btn btn-lg btn-success" type="submit" value="Download">
                            <span class="glyphicon glyphicon-download-alt"> Download</span>
                        </button>

                    }
                </div>

            </div>
        </div>
    </div>
</div>