﻿@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row wrapper" style="padding-top:53px">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2> Requirement Systems</h2>
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <div class="form-group">
                        <ul>
                            <li> OS: Windows 7 Home 64-bit</li>
                            <li>Processor: Intel Core i5-4310U 2.00GHz or higher</li>
                            <li>Memory: 512 MB RAM or more</li>
                            <li>Graphics: Intel HD Graphics 4000</li>
                            <li>DirectX: Version 9.0c or higher</li>
                            <li>Hard Drive: 200 MB available space</li>
                        </ul>


                    </div>
                    <fieldset>
                        Q/A:<br />
                        1 - How do I install the game?<br />
                        Download the game (rar file) on download page, extract the file using winrar and enjoy<br />
                        2 - How do I move><br />
                        Using hotkey W,S,A,D to move the ship.<br />
                        3 - How do I shoot<br />
                        Click on the screen to shoot, you can change the input in input setting<br />
                        4 - How do I set the input key<br />
                        Run the game/choose input tap, choose the key you want to change and change it<br />
                        5 - How do I shoot enemy and other object<br />
                        Left Click to shoot the object<br />
                        6 - How do I restart?<br />
                        Using hotkey Ctrl+R to do restart<br />
                    </fieldset>
                    <b>Note: please contact us via email to get support, if  you game any problem while playing game please report via report page, thank you!</b>

                </div>
            </div>
        </div>
    </div>
</div>
