﻿@{
    ViewBag.Title = "Home Page";
}
@section Footer{
    @Html.Partial("_Footer")
}

@section featured {
    <section class="featured" style="padding-top:4%">
        <div class="content-wrapper">
            <center><h1>@ViewBag.Title</h1></center>
        </div>
    </section>
}

<div class="col-lg-12" style="padding-top:53px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> About The Game</h2>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="form-group">
                    <h3>Space Shooter</h3><br />
                    <div class="row">
                        <div class="col-md-8">
                            <b>Space Shooter</b> is a space flight simulator game is a genre of flight simulator video games that lets players experience space flight. Examples of true simulators which aim at piloting a space craft. The game is developed on Unity platform, C# language
                            Most games in the space combat genre feature futuristic scenarios involving space flight and extra planetary combat. Such games generally place the player into the controls of a small star fighter or smaller starship in a military force of similar and larger spaceships and don't take into account the physics of space flight, usually often citing some technological advancement to explain the lack thereof.
                            Space Shooter allows a player to utilize a combination of the keys of the keyboard and mouse as a means of controlling the. By far the most popular control system among genre enthusiasts
                            The game is able to download via our website, please <a href="/Account/Create">register an account</a> to be able to send your high scores.

                        </div>
                        <div class="col-md-4">
                            <img class="img-responsive" src="/Images/index.png" height="2000" width="1000" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

