﻿@model Project3Unity.Bug

@{
    ViewBag.Title = "Delete Bug Report";
}

@section Sidebar {
    @Html.Partial("_Sidebar")
}

<center><h2>Delete</h2></center>

<div class="col-lg-10" style="padding-top: 30px; padding-left: 15px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Are you sure you want to delete this?</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">

                <div class="form-group">

                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Account.accUsername)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.Account.accUsername)
                        </div>
                    </div>

                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.bugTitle)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.bugTitle)
                        </div>
                    </div>

                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.bugDesc)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.bugDesc)
                        </div>
                    </div>

                    @if (Model.bugFile != null)
                    {
                        <<div class="row" style="padding-top:15px">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.bugFile)
                            </div>
                            <div class="col-md-3">
                                @if (ViewBag.IsImage)
                                {
                                    <img src="@ViewBag.FileUrl" alt="@Model.bugFile" style="width: 250px; height: 250px" />
                                }
                                else if (ViewBag.IsVideo)
                                {
                                    <video width="320" height="420" controls>
                                        <source src="@Model.bugFile" type="video/mp4" />
                                        Your browser does not support playing this video
                                    </video>
                                }
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group" style="padding-top: 15px">
                            <input class="btn btn-danger" type="submit" value="Delete" /> Or
                            <label>@Html.ActionLink("Back to List", "Index")</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
