﻿@model Project3Unity.Bug

@{
    ViewBag.Title = "Bug Report Details";
}

@section Sidebar {
    @Html.Partial("_Sidebar")
}

<center><h2>Details</h2></center>

<div class="col-lg-10" style="padding-top:30px;padding-left:15px">
    <div class="panel panel-default">
        <div class="panel-heading">
            Suggestion Detail
        </div>
        <div class="panel-body">
            <div class="col-lg-6">

                <div class="form-group">

                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Account.accUsername)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.Account.accUsername)
                        </div>
                    </div>

                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.bugTitle)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.bugTitle)
                        </div>
                    </div>

                    <div class="row" style="padding-top:15px">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.bugDesc)
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.bugDesc)
                        </div>
                    </div>

                    @if (Model.bugFile != null)
                    {
                        <div class="row" style="padding-top:15px">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.bugFile)
                            </div>
                            <div class="col-md-3">
                                @if (ViewBag.IsImage)
                                {
                                    <img src="@ViewBag.FileUrl" alt="@Model.bugFile" style="width: 250px; height: 250px" />
                                }
                                else if (ViewBag.IsVideo)
                                {
                                    <video width="320" height="420" controls>
                                        <source src="@Model.bugFile" type="video/mp4" />
                                        Your browser does not support playing this video
                                    </video>
                                }
                            </div>
                        </div>
                    }
                    <div style ="padding-top:15px">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.bugID }) |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
