﻿@model Project3Unity.Bug

@{
    ViewBag.Title = "Edit Bug Report";
}

@section AddJS {
    <script src="~/Scripts/scripts.js"></script>
}

@section Sidebar {
    @Html.Partial("_Sidebar")
}

<center><h2>Edit</h2></center>

<div class="row" style="padding-top:30px">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Bug Form
            </div>
            <div class="panel-body" style="padding-left:15px;padding-top:15px">
                <div class="col-lg-6">
                    @using (Html.BeginForm("Edit", "Bug", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <input id="oldFile" name="oldFile" type="hidden" value="@Model.bugFile" />
                        @Html.HiddenFor(model => model.bugID)
                        @Html.HiddenFor(model => model.accEmail)

                        <div class="form-group">
                            @Html.LabelFor(model => model.bugTitle, new { @class = "control-label col-md-3" })

                            @Html.TextBoxFor(model => model.bugTitle, new { @class = "form-control", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.bugTitle, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.bugDesc, new { @class = "control-label col-md-3" })

                            @Html.TextAreaFor(model => model.bugDesc, new { @class = "form-control", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.bugDesc, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for=" file" class="control-label col-md-3">
                                File Upload
                            </label>
                            <input id="newFile" name="newFile" type="file" accept=".avi, .mp4, .mkv, .wmv, .mov, .jpg, .jpeg, .png, .gif" onchange="return checkValid();" value="" />
                           
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input class="btn btn-success" type="submit" value="Submit" @*onclick="return checkValid();"*@ />
                            </div>
                        </div>
                        @*<p>
                            <input class="small radius button" type="submit" value="Save" />
                        </p>*@

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    var hashExt = {
        ".mp4": 1,
        ".jpg": 1,
        ".jpeg": 1,
        ".png": 1,
        ".gif": 1
    };

    function checkValid() {
        if (checkExtension(document.getElementById('file').value, hashExt)) {
            document.getElementById('badFileExt').innerHTML = "";
            return true;
        } else {
            document.getElementById('badFileExt').innerHTML = "Invalid file, please select another file";
            return false;
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
