﻿<footer class="footer" style="margin-bottom: 0">
    <div class="container-fluid">
        <div class="pull-left">
            <a href="http://daihoc.fpt.edu.vn/" target="_blank">
                <img width="118" height="36" src="~/Images/fpt.png">
            </a>
            <p>&copy; @DateTime.Now.Year - FU Games</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul id="menu" class="nav navbar-nav">
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </div>
    </div>
</footer>