﻿<header>
    <div class="topnav" id="wrapper" style="margin-bottom: 0" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>*@
            <a class="site-title" href="/"><img src="/Images/index.png" alt="Logo" height="55" width="130" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div id="login" class="pull-right" style="background-color: #f5f5f5">
                @Html.Partial("_LoginPartial")
            </div>

            <ul id="menu" class="nav navbar-nav">
                <li>@Html.ActionLink("Download Game", "Game", "Home")</li>
                <li>@Html.ActionLink("Leaderboard", "Index", "HighScore")</li>
                <li>@Html.ActionLink("Suggestion", "Index", "Suggestion")</li>
                <li>@Html.ActionLink("Report Bug", "Index", "Bug")</li>
                <li>@Html.ActionLink("Review", "Index", "Review")</li>
                <li>@Html.ActionLink("Help", "Help", "Home")</li>
            </ul>
        </div>
    </div>
</header>