﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - FU Games</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        <link href="/Content/Css/StyleSheet1.css" rel="stylesheet" />
        <!-- Bootstrap Core CSS -->
        <link href="/Content/Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="/Content/Bootstrap/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/Content/Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="/Content/Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        @*@Styles.Render("~/Content/css")*@
        @RenderSection("AddCSS", required: false)
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("AddJS", required: false)
    </head>
    <body>
        @Html.Partial("_Header")
        @RenderSection("Sidebar", required: false)
        <div id="body" class="container">
            <div class="row">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
        </div>
        @RenderSection("Footer", required: false)
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        <!-- jQuery -->
        <script src="/Content/Bootstrap/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/Content/Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="/Content/Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/Content/Bootstrap/dist/js/sb-admin-2.js"></script>
    </body>
</html>
