﻿@if (Request.IsAuthenticated)
{
    string username = "";
    if (Session["username"] == null || Session["username"] == "")
    {
        var db = new Project3Unity.project3Entities();
        var accLoggedOn = db.Accounts.Find(User.Identity.Name);
        username = accLoggedOn.accUsername;
        Session["username"] = username;
    }
    else
    {
        username = (string)Session["username"];
    }

    <div class="form-group">
        <div class="row">
            Hello, @Html.ActionLink(username, "Details", "Account", routeValues: new { username = username }, htmlAttributes: new { @class = "username", title = "Details" })!

            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"> Sign-out</span></a>
            }
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(" Register", "Create", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @Class = "glyphicon glyphicon-registration-mark" })</li>
        <li>@Html.ActionLink(" Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @Class = "glyphicon glyphicon-log-in" })</li>
    </ul>
}
