﻿@*<aside class="float-left">*@
    @if (ViewBag.LeaderBoard != null)
{
    <div class="wrapper">
        <div class="container-table col-md-2" style="padding-top:7%;position:static">
            <table class="table table-bordered m-n" cellspacing="0">
                <thead>
                    <tr style="background-color: gray;">
                        <th>#</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @{
    int n = 1;
                    }
                    @foreach (var item in ViewBag.LeaderBoard)
                    {
                        <tr>
                            <td>@n</td>
                            <td>@item.Account.accUsername</td>
                            <td>@item.srcHS</td>
                        </tr>
                        n++;
                    }
                </tbody>

            </table>
        </div>
    </div>
}
else
{
    //
}
@*</aside>*@