﻿@model Project3Unity.Suggestion

@{
    ViewBag.Title = "Suggest an Improvement";
}

@section Sidebar {
    @Html.Partial("_Sidebar")
}

<center><h2>Suggest Improvement</h2></center>


<div class="row" style="padding-top:30px">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Suggestion Form
            </div>
            <div class="panel-body" style="padding-left:15px;padding-top:15px">
                <div class="col-lg-6">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.sgtTitle, new { @class = "control-label col-md-3" })

                            @Html.TextBoxFor(model => model.sgtTitle, new { @class = "form-control", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.sgtTitle, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.sgtSuggest, new { @class = "control-label col-md-3" })

                            @Html.TextAreaFor(model => model.sgtSuggest, new { @class = "form-control", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.sgtSuggest, "", new { @class = "text-danger" })
                        </div>

                        <input id="accEmail" name="accEmail" type="hidden" value="@User.Identity.Name" />
                       
                         <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input class="btn btn-success" type="submit" value="Submit" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
