﻿@model Project3Unity.Suggestion

@{
    ViewBag.Title = "Details";
}

@section Sidebar {
    @Html.Partial("_Sidebar")
}

<center><h2>Details</h2></center>

<div class="col-lg-10" style="padding-top:30px;padding-left:15px">
    <div class="panel panel-default">
        <div class="panel-heading">
            Suggestion Detail
        </div>
        <div class="panel-body">
            <div class="col-lg-6">

                @Html.HiddenFor(m => m.sgtID)

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Account.accUsername) :
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.Account.accUsername)
                        </div>
                    </div>

                    <div class="form-group" style="padding-top:15px">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.sgtTitle) :
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayFor(model => model.sgtTitle)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.sgtSuggest) :
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayFor(model => model.sgtSuggest)
                            </div>
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.sgtID }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>