﻿.topnav{
    height: 56px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    background: #f5f5f5;
    z-index:100;
}
.wrapper{
    background-color: #f5f5f5;
    padding-top: 4%;
    position: relative;
}
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 70px;
    position: inherit;
    width: 100%;
}
